.dashboard-reservations {
  padding: 20px;
}

.dashboard-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin: 30px 0;
  margin-bottom: 40px;
  .link {
    color: #222222;
    text-decoration: none;
  }
  .link-r{
    color: $logo-clr;
    text-decoration: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

.action-btns{
  display: flex;
  justify-content: space-between;


.approve-btn {
  color: #4caf50;
  background-color: #f0fff4;
  border: 1px solid #4caf50;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  // font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  

  &:hover {
      background-color: #e8f5e9;
  }
  &:active {
      background-color: #d9f0da;
  }
}

.reject-btn {
  color: #e53935;
  background-color: #ffe5e5;
  border: 1px solid #e53935;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
      background-color: #ffd6d6;
  }
  &:active {
      background-color: #ffc7c7;
  }
}
}

.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.status-chart,

.stay-chart {
  width: 250px;
  height: 250px;
  text-align: center;
  h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
  }
}


.status{
  font-weight: bold;
}