.login-page {

	.login-form-container {
		margin: auto;
		margin-top: 40px;
		width: fit-content;
		border-radius: rem(10px);
		background-color: $gray1;
		padding: rem(30px);
		padding-top: rem(20px);

		nav {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2em;
			margin-bottom: rem(15px);
			a {
				font-size: 0.8em;
				color: $clr4;

				&:hover {
					color: $clr1;
				}
			}

			a.active {
				font-family: AirbnbCereal_W_Md;
				text-decoration: underline;
				color: $clr2;
			}
		}

		.login-form,
		.signup-form {
			display: grid;
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			border-radius: rem(10px);
			padding: 1em;
			background-color: $clr6;

			input {
				width: 100%;
				border: none;
				border-bottom: 1px solid $gray2;
				background-color: $clr6;
			}

			button{
				@include reserve-btn;
				// justify-self: center;
				// width: 100px;
				// padding: 10px;
			}
		}

		.signup-form {

			.admin-toggle {
				display: flex;
				align-items: center;
				justify-self: start;

				span {
					font-size: .8em;
				}
			}
		}
	}
}
