.login-page {

	.login-form-container {
		border-radius: rem(10px);
		background-color: $gray1;
		padding: rem(40px);
		padding-top: rem(20px);

		nav {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2em;
			margin-bottom: rem(15px);
			a {
				font-size: 0.8em;
				color: $clr4;

				&:hover {
					color: $clr1;
				}
			}

			a.active {
				text-decoration: underline;
				color: $clr2;
			}
		}



		.login-form,
		.signup-form {
			display: grid;
			width: min(80%, 300px);
			margin: auto;
			border-radius: rem(10px);
			padding: 1em;
			background-color: #fff;
		}

		.signup-form {
			input {
				width: 100%;
				border: none;
				border-bottom: 1px solid $gray2;
				background-color: #fff;
			}

			.admin-toggle {
				display: flex;
				align-items: center;
				justify-self: start;

				span {
					font-size: .8em;
				}
			}
		}
	}
}