.stay-index {
    position: relative;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: .3em;
    }

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }

}

    // @include for-extra-wide-layout {
    //     .stay-index {
    //       padding: 0 40px;
    //     }
    //   }