.stay-details {
    .stay-gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: auto; 
      gap: 8px; 

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px; 
  
        &:nth-child(1) {
          grid-column: span 2; 
          grid-row: span 2; 
        }
  
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
    }
  }
  .stay-description {
    margin-top: 20px; 
    font-size: 1rem;
    line-height: 1.5;
    font-style: bold;
  }
  .stay-capacity {
    margin-top: 10px; 
    font-size: 1rem;
    color: #655;
  }

  .stay-host {
    display: flex;
    align-items: center;
    margin-top: 20px; 

    .host-image {
      width: 50px;
      height: 50px;
      border-radius: 50%; 
      margin-right: 10px; 
      object-fit: cover;
    }

    .host-details {
      font-size: 1rem;
      color: #333;

      strong {
        font-weight: bold;
      }
    }
  }
