.main-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .stay-order {
    grid-column: 2;
    grid-row: 1 / 5;
    width: 350px;
    justify-self: end;
    position: sticky;
    top: 10px;
  }

  .stay-details {
    display: flex;
    max-width: 1120px;
    padding-top: 24px;
    justify-content: center;
    flex-direction: column;

    .stay-header {
      grid-row: 1;
      font-size: 1em;
      line-height: inherit;
      font-weight: inherit;
    }

    .stay-content {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;

      .stay-main {
        flex: 1;
        position: relative;
      }

      .stay-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        padding-bottom: 16px;
        padding-top: 8px;

        .image-wrapper {
          position: relative;
          overflow: hidden;
          aspect-ratio: 1 / 1;
          width: 100%;
          height: 100%;

          &:first-child {
            grid-column: span 2;
            grid-row: span 2;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }

          &:nth-child(2) {
            grid-column: 3;
            grid-row: 1;
          }

          &:nth-child(3) {
            grid-column: 4;
            grid-row: 1;
            border-top-right-radius: 15px;
          }

          &:nth-child(4) {
            grid-column: 3;
            grid-row: 2;
          }

          &:nth-child(5) {
            grid-column: 4;
            grid-row: 2;
            border-bottom-right-radius: 15px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.3s ease;
          }

          &:hover {
            cursor: pointer;

            &::after {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }
      }
      
    }
    
    
    .stay-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: end;
      position: relative;
      >*:not(:last-child){
        grid-column: 1;
      }
        
        .stay-description {
          // grid-column: 1;
        margin-top: 6px;
        font-size: 1.1rem;
        letter-spacing: 0.01375rem;
        font-family: AirbnbCereal_W_Lt;
        font-weight: bold;
      }

      .stay-capacity {
        // grid-column: 1;
        margin-top: 7px;
        font-size: 0.86rem;
        color: #333;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
      }

      .stay-host {
        // grid-column: 1;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
        font-size:0.87rem;
        font-weight: bold;

        .host-image {
          // grid-column: 1;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 10px;
          object-fit: cover;
        }

        .host-details {
          // grid-column: 1;
          font-size: 0.85rem;
          color: #333;

          strong {
            font-weight: bold;
          }
        }
      }

      .stay-info {
        // grid-column: 1;
        margin-top: 20px;
        font-family: AirbnbCereal_W_Lt;
        font-size:1em;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
        
        h3 {
          font-size: 1.2rem;
          margin-bottom: 10px;
          color: #333;
        }

        p {
          font-size: 0.83rem;
          color: #030303;
          line-height: 1.5;
        }
      }
      
      .stay-amenities {
        grid-column: 1;
        margin-top: 20px;
        grid-column: 1;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
        
        h3 {
          font-size: 1.2rem;
          margin-bottom: 10px;
          color: #000000;
        }
        
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px 0;
          list-style: none;
          padding: 0;
        }
        
        .amenity-item {
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          color: #000000;

          .amenity-icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
        }
      }
      
      .stay-reviews {
        grid-column: 1;
        margin-top: 20px;
        
        .review-item {
          margin-bottom: 16px;
          // font-weight: bold;
          font-size: 0.85rem;
          
          .review-header {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            
            .reviewer-image {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 10px;
            }
            
            .reviewer-name {
              font-weight: bold;
            }

            .review-rate {
              font-size: 0.9rem;
              color: #888;
            }
            
            .review-text {
              font-size: 0.85rem;
              color: #050505;
              line-height: 1.4;
            }
            .grid-wrapper{
              grid-column: 1;
            }
          }
        }
      }
    }
  }
}