.trips-page {
  width: 92vw;
  color: #222222;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #dddddd;

  h1 {
    font-family: AirbnbCereal_W_Bk, sans-serif;
    letter-spacing: 0.02rem;
    font-weight: normal;
    font-size: rem(22px);
    color: #222222;
    padding-left: 8px;
    margin: 0;
  }

  .user-trips {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;

    .user-trip {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      min-width: 230px;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.02);
      }

      .user-trip-top {
        .trip-image {
          width: 100%;
          height: auto;
          // max-width: 600px;
          aspect-ratio: 1.5 / 1;
          object-fit: cover;
          border-radius: 0.5rem;
          transition: transform 0.1s ease;
          cursor: pointer;      
        }

        .trip-name {
          font-family: AirbnbCereal_W_Md, sans-serif;
          letter-spacing: 0.02rem;
          font-weight: normal;
          font-size: rem(18px);
          color: $gray4;
          margin-top: 13px;
          margin-bottom: 6px;
        }

        .trip-dates{
          font-family: AirbnbCereal_W_Lt, sans-serif;
          font-size: rem(14px);
          margin-bottom: 20px;
        }
      }

      .user-trip-bottom {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        font-family: AirbnbCereal_W_Lt, sans-serif;
        letter-spacing: 0.02rem;
        font-weight: normal;
        font-size: rem(17px);
        color: #222222;

        .user-trip-status {
          .status {
            font-family: AirbnbCereal_W_Bk, sans-serif;
            letter-spacing: 0.02rem;
            font-weight: normal;  
            margin-left: 5px;
            &.pending {
              color: #FFCE56;
            }
            &.approved {
              color: #4CAF50;
            }
            &.rejected {
              color: #FF0000;
            }
            &.unknown {
              color: #222222;
            }
          }
        }
      }
      .num {
        font-family: AirbnbCereal_W_Lt, sans-serif;
        letter-spacing: 0.02rem;
        font-weight: normal;
        font-size: rem(16px);
        color: #222222;
      }

      .view-btn {
        margin-left: 20px;
      }

      .view-btn,
      .edit-btn {
        text-decoration: none;
        color: #222222;
        padding-top: 10px;

        &:hover {
          color: $logo-clr;
        }
      }
    }
  }
}
