// App header full
.date-modal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 850px;
  margin-top: 12px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  border: none;
  border-radius: 32px;
  background-color: white;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0.15);

  &::after {
    display: none;
  }

  @include calendar;
}

// App header mobile
.date-modal-mobile {
  margin-top: 0;
  width: 100%;
  border-radius: 32px;
  background-color: white;

  h1 {
    font-family: AirbnbCereal_W_Bd, sans-serif;
    font-weight: normal;
    font-size: rem(22px);
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 22px;
  }
  @include calendar;
  .react-datepicker {
    font-size: 1rem;
    width: 100%;
  }
  .react-datepicker__month-container {
    width: 100%;
  }

  .react-datepicker__current-month {
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    width: 100%;
  }

  .react-datepicker__navigation--next {
    top: 0;
    right: 0;
  }

  .react-datepicker__navigation--previous {
    top: 0px;
    left: 0px;
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow,
  .react-datepicker__navigation-icon::before {
    border-color: #ccc;
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 6px;
    width: 15px;
  }

  .react-datepicker__header {
    padding: 15px 0;
    padding-bottom: 20px;
    border: none;
    background-color: transparent;
  }

  .react-datepicker__day-names {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    font-weight: bold;
  }

  .react-datepicker__day-name {
    font-family: AirbnbCereal_W_Lt, sans-serif;
    font-size: 1rem;
    margin: 0;
    margin-top: 30px;
    color: #818181;
  }

  .react-datepicker__week {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    margin: 0;
    font-weight: bold;
    width: 100%;
  }

  .react-datepicker__day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    width: 10vw;
    height: 10vw;
    max-width: 70px;
    max-height: 70px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    transition: background-color 0.3s, border 0.3s, transform 0.2s ease;
  }

  .date-modal-btns-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    button {
      letter-spacing: 0.02rem;
      font-size: 1rem;
      border: none;
      cursor: pointer;

      i {
        margin-right: 5px;
      }
    }
  }

  .clear {
    font-family: AirbnbCereal_W_Md;
    background-color: transparent;
    text-decoration: underline;
    color: #222222;
    padding: 0;
  }

  .next {
    font-family: AirbnbCereal_W_Md;
    color: white;
    background-color: #222222;
    padding: 13px 43px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 560px) {
  .date-modal-mobile {
    .react-datepicker__header {
      padding: 8px 0;
      padding-bottom: 10px;
    }

    .react-datepicker__day {
      font-size: 2.8vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .date-modal-mobile {
    .react-datepicker__day {
      font-size: 3vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .date-modal-mobile {
    .react-datepicker__day {
      font-size: 3.5vw;
    }
  }
}

@media screen and (max-width: 450px) {
  .date-modal-mobile {
    .react-datepicker__day {
      font-size: 4vw;
    }
  }
}

// Details
.date-modal-details {
  position: absolute;
  top: 52px;
  right: -87px;
  width: 661px;
  max-width: 661px;
  padding: 16px 32px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
  border: none;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0.15);

  &::after {
    display: none;
  }

  @include calendar;
  .react-datepicker {
    font-family: AirbnbCereal_W_Lt, sans-serif;
    width: 100%;
    border: none;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
  }

  .react-datepicker__header {
    padding-top: 38px;
    padding-bottom: 5px;
    border: none;
    background-color: transparent;
  }

  .react-datepicker__navigation--next {
    top: 37px;
    right: 7px;
  }

  .react-datepicker__navigation--previous {
    top: 37px;
    left: 5px;
  }

  .react-datepicker__month {
    font-family: AirbnbCereal_W_Lt, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
  }

  .react-datepicker__current-month {
    letter-spacing: 0.04rem;
  }

  .react-datepicker__day-name {
    font-family: AirbnbCereal_W_Lt, sans-serif;
    margin-top: 18px;
    font-size: 12px;
    color: #818181;
  }

  .react-datepicker__day-names {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 3px;
    padding-right: 3px;
    font-weight: bold;
  }

  .react-datepicker__week {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 5px;
    font-weight: bold;
  }

  .react-datepicker__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 50%;
    transition: background-color 0.3s, border 0.3s;
  }

  .date-picker-modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date-picker-modal-days-info {
      h1 {
        font-family: AirbnbCereal_W_Md, sans-serif;
        font-weight: normal;
        font-size: 1.4rem;
        margin: 0;
        margin-left: 14px;
        margin-bottom: 10px;
      }

      h3 {
        font-family: AirbnbCereal_W_Lt, sans-serif;
        font-weight: normal;
        font-size: 0.9rem;
        margin: 0;
        margin-left: 14px;
        letter-spacing: 0.02rem;
        color: #818181;
      }
    }

    .order-dates {
      display: flex;
      gap: 2px;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      max-width: 320px;
      margin-right: 15px;
      border: 1px solid #ddd;

      .date-input {
        padding-inline-end: 10px;
        padding-left: 12px;
        margin-right: 0px;
        padding-top: 8px;
        padding-bottom: 11px;
        border-radius: 8px;
        overflow: visible;
        flex: 1;
        line-height: 0.6;
        cursor: pointer;

        &:last-child {
          padding-inline-start: 10px;
        }

        label {
          font-size: 0.6rem;
          font-weight: bold;
          color: #222;
          text-transform: uppercase;
        }

        .input {
          border: none;
          font-size: rem(14px);
          outline: none;
          width: 100%;
          padding-top: 10px;
          cursor: pointer;
        }
      }

      .order-dates-bold-border {
        padding-inline-end: 10px;
        padding-left: 10px;
        margin-right: 0px;
        padding-top: 6px;
        padding-bottom: 13px;
        border-radius: 8px;
        overflow: visible;
        flex: 1;
        line-height: 0.6;
        cursor: pointer;
        border: 2px solid #363636;

        &:last-child {
          padding-inline-start: 10px;
        }

        label {
          font-size: 0.6rem;
          font-weight: bold;
          color: #222;
          text-transform: uppercase;
        }

        .input {
          border: none;
          font-size: rem(14px);
          outline: none;
          width: 100%;
          padding-top: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .date-modal-btns {
    display: flex;
    align-self: end;
    margin-top: 18px;
    margin-right: 3px;

    .date-modal-clear-btn {
      font-size: rem(15px);
      margin-right: 10px;
      padding: 5px;
      background-color: transparent;
      border: none;
      font-family: AirbnbCereal_W_Bk, sans-serif;
      text-decoration: underline;
      cursor: pointer;
    }

    .date-modal-close-btn {
      font-size: rem(15px);
      font-family: AirbnbCereal_W_Bk, sans-serif;
      letter-spacing: 0.01rem;
      padding: 8px 14px;
      border-radius: 8px;
      background-color: transparent;
      border: none;
      background-color: #222222;
      color: white;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 950px) {
  .date-modal {
    @include calendar;
    .react-datepicker {
      font-family: AirbnbCereal_W_Lt, sans-serif;
      width: 100%;
      border: none;
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 15px;
    }

    .react-datepicker__header {
      padding-top: 38px;
      padding-bottom: 5px;
      border: none;
      background-color: transparent;
    }

    .react-datepicker__navigation--next {
      top: 37px;
      right: 7px;
    }

    .react-datepicker__navigation--previous {
      top: 37px;
      left: 5px;
    }

    .react-datepicker__month {
      font-family: AirbnbCereal_W_Lt, sans-serif;
      font-weight: bold;
      font-size: 13px;
      margin: 0px;
    }

    .react-datepicker__current-month {
      letter-spacing: 0.04rem;
    }

    .react-datepicker__day-name {
      font-family: AirbnbCereal_W_Lt, sans-serif;
      margin-top: 18px;
      font-size: 12px;
      color: #818181;
    }

    .react-datepicker__day-names {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 3px;
      padding-right: 3px;
      font-weight: bold;
    }

    .react-datepicker__week {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 5px;
      font-weight: bold;
    }

    .react-datepicker__day {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      margin: 0px;
      border-radius: 50%;
      transition: background-color 0.3s, border 0.3s;
    }
  }
}
