.guest-modal-box {
  @include guest-modal;
}

.guest-modal-details-box {
  @include guest-modal;
  .guest-modal {
    display: flex;
    flex-direction: column;
    top: 188px;
    left: 104px;
    padding: 16px;
    margin: 0;
    width: 100%;
    max-width: 323px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px,
      rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;

    .guest-modal-options {
      padding: 6px 0px;
      padding-bottom: 18px;
      border: none;

      .guest-modal-options-left {
        width: 170px;
        h4{
          margin-bottom: 5px;
        }

        .pets{
          margin-top: 6px;
          font-family: AirbnbCereal_W_Md;
          font-weight: normal;
        }
      }

      .guest-modal-options-right {
        height: 31px;
        width: 104px;
        margin: 0;
      }
    }

    .close-guest-modal-btn {
      font-size: rem(16px);
      font-family: AirbnbCereal_W_Md, sans-serif;
      font-weight: normal;
      letter-spacing: 0.02rem;
      text-decoration: underline;
      align-self: end;
      padding: 10px;
      padding-right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
