.guest-modal {
  position: absolute;
  top:97%;
  right: 0;
  z-index: 10;
  padding: 16px 36px;
  margin-top: 12px;
  width: 416px;
  border-radius: 32px;
  background-color: white;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0.15);

  &::after {
    display: none;
  }

  .guest-modal-options {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 24px 0px;
    border-bottom: 1px solid #ddddddaa;

    &:last-child {
      border-bottom: none;
    }
    .guest-modal-options-left {
      justify-self: start;

      .pets {
        text-decoration: underline;
      }
      
      h4 {
        font-size: 16px;
        font-family: AirbnbCereal_W_Md2, sans-serif;
        font-weight: normal;
        color: #222222;
        margin: 0;
        margin-bottom: 4px;
      }

      p {
        font-size: 0.875rem;
        color: #6a6a6a;
      }
    }

    .guest-modal-options-right {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: end;
      font-size: 16px;
      margin-right: 3px;

      .disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }

      button {
        width: 32.5px;
        height: 32.5px;
        padding: 9px;
        margin: 0 15px;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        // align-items: center;
        // justify-content: center;

        .svg-icon {
          display: block;
          height: 14px;
          width: 14px;
          fill: #6a6a6a;
          align-self: center;
          justify-self: center;
        }

        &:hover {
          border: 1px solid #222222;
        }
      }
    }
  }
}
