.carousel-container {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;

    .image-container {
        position: relative;
        display: flex;

        img {

            border-radius: 10px;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1.05/1;
            margin-bottom: 6PX;
        }

        &:hover .nav-button {
            opacity: 0.8;
        }

        .heart {
            position: absolute;
            height: rem(22px);
            width: rem(22px);
            top: 4.5%;
            right: 4.5%;
            transition: 200ms;

            &:hover{
                scale: 1.05;    
            }
        }

        .nav-button {
            @include carousel-btn;


            &.prev {
                left: 12px;
            }
        
            &.next {
                right: 12px;
            }
        }

        .dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 5px;

            .dot {
                height: 6px;
                width: 6px;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 50%;
                transition: all 0.3s;
                pointer-events: none;

                &.active {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}