.order-form {
  grid-column: 2;
  grid-row: 1;
  padding: 24px;
  margin-left: 80px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  .order-price {
    font-size: 1.4rem;
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;

    .price-amount {
      font-weight: bold;
      color: #222;
    }

    span:last-child {
      font-size: 1rem;
      color: #222;
      margin-left: 4px;
      font-family: AirbnbCereal_W_Lt;
      font-weight: normal;
    }
  }

  .order-table {
    padding: 11px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;

    .order-dates {
      display: flex;
      gap: 2px;
      border-bottom: 1px solid #ddd;

      .date-input {
        padding-inline-end: 10px;
        overflow: visible;
        flex: 1;
        border-right: 1px solid #ddd;
        line-height: 0.6;

        &:last-child {
          padding-inline-start: 10px;
          border-right: none;
        }

        label {
          font-size: 0.6rem;
          font-weight: bold;
          color: #222;
          text-transform: uppercase;
          border-bottom: 10px;
        }

        input {
          border: none;
          font-size: 1rem;
          outline: none;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    .order-guests {
      margin-top: 7px;

      label {
        font-size: 0.6rem;
        font-weight: bold;
        color: #222;
        text-transform: uppercase;
      }

      select {
        border: none;
        font-size: rem(14px);
        outline: none;
        width: 100%;
        appearance: none;
        background-color: #fff;
        background-image: url('/svg/downArrow.svg'); 
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
      }
    }
  }

  .reserve-button {
    width: 100%;
    padding: 16px;
    background: linear-gradient(90deg, #ff385c, #d70653);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: linear-gradient(90deg, #d70653, #ff385c);
    }
  }

  .no-charge-text {
    font-size: rem(15px);
    color: #222;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 26px;
  }

  .order-summary {
    font-size: 1rem;
    color: #333;

    .price-calculation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      font-size: 1rem;
      color: #222;

      .underline-text {
        text-decoration: underline;
      }

      span:last-child {
        font-weight: normal;
      }
    }

    .total-divider {
      border-top: 1px solid #ddd;
      margin-bottom: 25px;
    }

    .total-price {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 1rem;
      color: #444;
    }
  }
}