.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // gap: 5rem;

    li {
        display: grid;
        grid-template-columns: auto;
        padding: .5em;

        color: black;

        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }
}

