.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    // justify-content: center;
    margin-bottom: 10px;

    li {
        flex: 1;
        display: grid;
        grid-template-columns: auto;

        color: black;

        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }
}