* {
    box-sizing: border-box;
}

.categories-outer-container {
    width: 100%;
    background-color: #fff;
    padding-top: 25px;
    position: sticky;
    top: 80px;
    z-index: 11;
    overflow: hidden;

    button {
        @include carousel-btn;
        top: 64%;
        scale: 1.1;
        opacity: 1;
        z-index: 2;
        border: 1px solid $gray2;
        background-color: #fff;
        box-shadow: rgb(255, 255, 255) 0 0 10px 30px;

        &.prev {
            left: 3px;
        }

        &.next {
            right: 3px;
        }

        &:hover {
            box-shadow: rgb(255, 255, 255) 0 0 10px 30px;
        }


    }

    .categories-inner-container {
        overflow: hidden;
        font-family: AirbnbCereal_W_Bk;
        font-weight: bold;
        display: grid;
        grid-template-rows: 1;
        gap: 40px;
        align-items: center;
        overflow-x: scroll;
        scroll-behavior: smooth;

        .category {
            grid-row: 1;
            color: #222222;
            opacity: 0.7;
            text-align: center;
            justify-items: center;
            transition: 200ms;
            scroll-snap-align: start;
            padding-bottom: 10px;
            border-bottom: 2px solid transparent;

            img {
                width: 24px;
                height: 24px;
            }

            span {
                font-size: rem(12px);
                text-wrap: nowrap;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .category.selected {
            border-bottom: 2px solid rgb(0, 0, 0);
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }
    }

    .categories-inner-container::-webkit-scrollbar {
        display: none;
    }
}