.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  // padding: 0 80px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 1440px) {
    main {
    // padding: 0 40px;
  }
}
