@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: AirbnbCereal_W_Lt;
    src: url(fonts/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Bk;
    src: url(fonts/AirbnbCereal_W_Bk.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Md;
    src: url(fonts/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Md2;
    src: url(fonts/AirbnbCereal_W_Md2.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Bd;
    src: url(fonts/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Bd2;
    src: url(fonts/AirbnbCereal_W_Bd2.otf);
}

@font-face {
    font-family: AirbnbCereal_W_XBd;
    src: url(fonts/AirbnbCereal_W_XBd.otf);
}

@font-face {
    font-family: AirbnbCereal_W_Blk;
    src: url(fonts/AirbnbCereal_W_Blk.otf);
}


