// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #409eff;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$logo-clr: #ff385c;
$user-icon-clr: #6a6a6a;
$icons-clr: #484848;
$hover-focus-icons-clr: #222222;
$text-clr: #222222;
$second-text-clr: #484848; 
$btn-left-clr: #e61e4e;
$btn-right-clr: #d70566;

// Breakpoints
// screen max:550px (- 24px margins):
$small-mobile-breakpoint: 550px;

// screen max:740px (- 24px margins):
$mobile-breakpoint: 744px;

// screen max:950px (- 40px margins):
$narrow-breakpoint: 950px;

// screen max:1127px (- 40px margins):
$normal-breakpoint: 1127px;

// screen max:1440px (- 40px margins):
$wide-breakpoint: 1440px;

// screen min: 1440px (80px margins).
